.App {
  background: rgb(71, 64, 53);
  background: -moz-linear-gradient(180deg, rgba(71, 64, 53, 1) 0%, rgba(12, 23, 38, 1) 5%, rgba(60, 89, 115, 1) 75%);
  background: -webkit-linear-gradient(180deg, rgba(71, 64, 53, 1) 0%, rgba(12, 23, 38, 1) 5%, rgba(60, 89, 115, 1) 75%);
  background: linear-gradient(180deg, rgba(71, 64, 53, 1) 0%, rgba(12, 23, 38, 1) 5%, rgba(60, 89, 115, 1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#474035", endColorstr="#3c5973", GradientType=1);
}