@import "@/scss/globals.scss";

.RadioButton {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   user-select: none;

   position: relative;
   padding-left: 60px;
   display: block;
   margin-bottom: 25px;

   & input {
      visibility: hidden;
      position: absolute;
      right: 0;

      &:checked + i {
         background-color: $secondary;
      }
   }

   & i {
      position: absolute;
      top: 9px;
      left: 0;
      height: 21px;
      width: 21px;
      background-color: $letter;
      border-radius: 50%;
      border: 2px solid $letter;
   }
}