@import "@/scss/globals.scss";

.Button {
   border-radius: 8px;
   padding: 0.6em;
   font-size: 1em;
   font-weight: 500;
   font-family: Roboto;
   background-color: $secondary;



   cursor: pointer;
   border: 1px solid transparent;
   will-change: filter;
   transition: filter 300ms;
   transition: color 0.25s;

   &:hover {
      filter: drop-shadow(0 0 10px #FFF3);
   }

   &:focus,
   & :focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
      color: $optional
   }


   .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 150px;
   }

   .sb {
      justify-content: space-between;
   }

}