@import "@/scss/globals.scss";

.Navbar {
   background-color: $main;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: sticky;
   z-index: 20;
   top: 0;
   left: 0;
   width: 100%;
   border-bottom-right-radius: 20px;

   padding: 1rem 0.3rem;


}