.Modal {

   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: red;
   animation: in .2s;

   z-index: 30;


   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

   text-align: center;





}






@keyframes out {
   0% {
      bottom: 0;
      opacity: 1;
   }

   20% {
      bottom: 80px;
      opacity: 1;
   }

   100% {
      bottom: -80px;
      opacity: 0;
   }
}

@keyframes in {
   0% {
      bottom: -40px;
      opacity: 0;
   }

   66% {
      bottom: 40px;
      opacity: 1;
   }

   100% {
      bottom: 0;
      opacity: 1;
   }




}