@import '@/scss/globals.scss';

.Body {
   background-color: #aaa;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;




   .carrucel {
      width: 300px;


      @media only screen and (min-width:$md) {
         width: 400px;
      }

      @media only screen and (min-width:$lg) {
         width: 450px;
      }



   }

   .contentTitle {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
   }

}